In [1]:
a = 3
b = 13

In [2]:
a + b

16

# Variables

In [8]:
'Hello World!'

'Hello World!'

In [9]:
"Hello World!"

'Hello World!'

In [14]:
## Variables

In [16]:
str(1) + '2'

'12'

### formatting

In [23]:
"hello, {your_name}. I'm {my_name}.".format(your_name="Shayne", my_name="Estel")

"hello, Shayne. I'm Estel."

In [22]:
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [36]:
model_a = 0.1243534
model_b = 1.34320424045

"Model A = {0:.5f}, Model B = {1:.5f}".format(model_a, model_b)

'Model A = 0.12435, Model B = 1.34320'

In [124]:
datas = [['DS School', 123, 1230000]]
datas.append(['Programming', 2230, 535240000])
# datas.append(['국제경제', 58392, 20000])
# datas.append(['외국어', 5892, 7880000])
datas.append(['Programming', 930, 535240000])

contents = ["{class_name:>30} {student_count:>10} {amount:>20}".format(class_name='수업', student_count='학생수', amount='금액')]
for data in datas:
    # contents.append("{0:>30} {1:>10} {2:20}".format(data[0], data[1], data[2]))
    print("{0:>30} {1:>10} {2:20}".format(data[0], data[1], data[2]))
print('\n'.join(contents))

                     DS School        123              1230000
                   Programming       2230            535240000
                   Programming        930            535240000
                            수업        학생수                   금액

In [82]:
for i in range(1, 11):
    if i < 5:
        continue
    if i == 7:
        break
    print(i)

5
6

In [85]:
double_list = []
for i in range(1, 11):
    if i == 5:
        continue
    if i == 8:
        break
    double_list.append(i*2)

print(double_list)

[2, 4, 6, 8, 12, 14]

In [91]:
def multiply(a, b):
    c = a * b
    return c

multiply(5,5)

25

In [95]:
def sign(n):
    if n > 0:
        return "plus"
    elif n < 0:
        return "minus"
    else:
        return "zero"
    
print(sign(-10))
print(sign(-5))
print(sign(0))

for i in [-100, 0, 30, 50]:
    print(sign(i))

minus
minus
zero
minus
zero
plus
plus

In [96]:
def factorial(n):
    result = 1
    for i in range(1, n+1):
        result = result * i
    return result

In [102]:
for i in range(1, 6):
    print('factorial({0:>3}) = {1:>10}'.format(i, factorial(i)))

factorial(  1) =          1
factorial(  2) =          2
factorial(  3) =          6
factorial(  4) =         24
factorial(  5) =        120